*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #efddae;
}

.content{
    width: 1500px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    width: 250px;
    background-color:#9EDEF9;
    border-radius: 15px;
    box-shadow: 0 5px 5px ;
    margin: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
